.ed-grid.s-gap-05,
.ed-grid.s-gap-1,
.ed-grid.s-gap-2,
.ed-grid.s-gap-3,
.ed-grid.s-gap-4,
.ed-grid.m-gap-05,
.ed-grid.m-gap-1,
.ed-grid.m-gap-2,
.ed-grid.m-gap-3,
.ed-grid.m-gap-4,
.ed-grid.lg-gap-05,
.ed-grid.lg-gap-1,
.ed-grid.lg-gap-2,
.ed-grid.lg-gap-3,
.ed-grid.lg-gap-4,
.ed-grid.xl-gap-05,
.ed-grid.xl-gap-1,
.ed-grid.xl-gap-2,
.ed-grid.xl-gap-3,
.ed-grid.xl-gap-4 {
  column-gap: var(--gap); }

.ed-grid {
  column-gap: var(--gap);
  --gap: 32px; }
  .ed-grid.row-gap, .ed-grid.rows-gap {
    row-gap: var(--gap); }

.gap-05,
.s-gap-05 {
  --gap: 4px; }

.gap-1,
.s-gap-1 {
  --gap: 8px; }

.gap-2,
.s-gap-2 {
  --gap: 16px; }

.gap-3,
.s-gap-3 {
  --gap: 24px; }

.gap-4,
.s-gap-4 {
  --gap: 32px; }

@media screen and (min-width: 640px) {
  .m-gap-05 {
    --gap: 4px; }
  .m-gap-1 {
    --gap: 8px; }
  .m-gap-2 {
    --gap: 16px; }
  .m-gap-3 {
    --gap: 24px; }
  .m-gap-4 {
    --gap: 32px; } }

@media screen and (min-width: 768px) {
  .md-gap-05 {
    --gap: 4px; }
  .md-gap-1 {
    --gap: 8px; }
  .md-gap-2 {
    --gap: 16px; }
  .md-gap-3 {
    --gap: 24px; }
  .md-gap-4 {
    --gap: 32px; } }

@media screen and (min-width: 1024px) {
  .lg-gap-05 {
    --gap: 4px; }
  .lg-gap-1 {
    --gap: 8px; }
  .lg-gap-2 {
    --gap: 16px; }
  .lg-gap-3 {
    --gap: 24px; }
  .lg-gap-4 {
    --gap: 32px; } }

@media screen and (min-width: 1280px) {
  .xl-gap-05 {
    --gap: 4px; }
  .xl-gap-1 {
    --gap: 8px; }
  .xl-gap-2 {
    --gap: 16px; }
  .xl-gap-3 {
    --gap: 24px; }
  .xl-gap-4 {
    --gap: 32px; } }

@media screen and (min-width: 1600px) {
  .xxl-gap-05 {
    --gap: 4px; }
  .xxl-gap-1 {
    --gap: 8px; }
  .xxl-gap-2 {
    --gap: 16px; }
  .xxl-gap-3 {
    --gap: 24px; }
  .xxl-gap-4 {
    --gap: 32px; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

[class*="main-start"], [class*="main-center"], [class*="main-end"], [class*="main-justify"], [class*="main-distribute"], [class*="cross-start"], [class*="cross-center"], [class*="cross-end"], [class*="cross-baseline"], [class*="row"], [class*="row-reverse"], [class*="column"], [class*="column-reverse"] {
  display: flex;
  flex-wrap: wrap; }

.cross-start,
.s-cross-start {
  align-items: flex-start;
  align-content: flex-start; }

.cross-center,
.s-cross-center {
  align-items: center;
  align-content: center; }

.cross-end,
.s-cross-end {
  align-items: flex-end;
  align-content: flex-end; }

.cross-baseline,
.s-cross-baseline {
  align-items: baseline;
  align-content: baseline; }

@media screen and (min-width: 640px) {
  .m-cross-start {
    align-items: flex-start;
    align-content: flex-start; }
  .m-cross-center {
    align-items: center;
    align-content: center; }
  .m-cross-end {
    align-items: flex-end;
    align-content: flex-end; }
  .m-cross-baseline {
    align-items: baseline;
    align-content: baseline; } }

@media screen and (min-width: 768px) {
  .md-cross-start {
    align-items: flex-start;
    align-content: flex-start; }
  .md-cross-center {
    align-items: center;
    align-content: center; }
  .md-cross-end {
    align-items: flex-end;
    align-content: flex-end; }
  .md-cross-baseline {
    align-items: baseline;
    align-content: baseline; } }

@media screen and (min-width: 1024px) {
  .lg-cross-start {
    align-items: flex-start;
    align-content: flex-start; }
  .lg-cross-center {
    align-items: center;
    align-content: center; }
  .lg-cross-end {
    align-items: flex-end;
    align-content: flex-end; }
  .lg-cross-baseline {
    align-items: baseline;
    align-content: baseline; } }

@media screen and (min-width: 1280px) {
  .xl-cross-start {
    align-items: flex-start;
    align-content: flex-start; }
  .xl-cross-center {
    align-items: center;
    align-content: center; }
  .xl-cross-end {
    align-items: flex-end;
    align-content: flex-end; }
  .xl-cross-baseline {
    align-items: baseline;
    align-content: baseline; } }

@media screen and (min-width: 1600px) {
  .xxl-cross-start {
    align-items: flex-start;
    align-content: flex-start; }
  .xxl-cross-center {
    align-items: center;
    align-content: center; }
  .xxl-cross-end {
    align-items: flex-end;
    align-content: flex-end; }
  .xxl-cross-baseline {
    align-items: baseline;
    align-content: baseline; } }

.main-start,
.s-main-start {
  justify-content: flex-start; }

.main-center,
.s-main-center {
  justify-content: center; }

.main-end,
.s-main-end {
  justify-content: flex-end; }

.main-justify,
.s-main-justify {
  justify-content: space-between; }

.main-distribute,
.s-main-distribute {
  justify-content: space-around; }

@media screen and (min-width: 640px) {
  .m-main-start {
    justify-content: flex-start; }
  .m-main-center {
    justify-content: center; }
  .m-main-end {
    justify-content: flex-end; }
  .m-main-justify {
    justify-content: space-between; }
  .m-main-distribute {
    justify-content: space-around; } }

@media screen and (min-width: 768px) {
  .md-main-start {
    justify-content: flex-start; }
  .md-main-center {
    justify-content: center; }
  .md-main-end {
    justify-content: flex-end; }
  .md-main-justify {
    justify-content: space-between; }
  .md-main-distribute {
    justify-content: space-around; } }

@media screen and (min-width: 1024px) {
  .lg-main-start {
    justify-content: flex-start; }
  .lg-main-center {
    justify-content: center; }
  .lg-main-end {
    justify-content: flex-end; }
  .lg-main-justify {
    justify-content: space-between; }
  .lg-main-distribute {
    justify-content: space-around; } }

@media screen and (min-width: 1280px) {
  .xl-main-start {
    justify-content: flex-start; }
  .xl-main-center {
    justify-content: center; }
  .xl-main-end {
    justify-content: flex-end; }
  .xl-main-justify {
    justify-content: space-between; }
  .xl-main-distribute {
    justify-content: space-around; } }

@media screen and (min-width: 1600px) {
  .xxl-main-start {
    justify-content: flex-start; }
  .xxl-main-center {
    justify-content: center; }
  .xxl-main-end {
    justify-content: flex-end; }
  .xxl-main-justify {
    justify-content: space-between; }
  .xxl-main-distribute {
    justify-content: space-around; } }

.gap-x-0,
.s-gap-x-0 {
  row-gap: 0; }

.gap-x-2px,
.s-gap-x-2px {
  row-gap: 2px; }

.gap-x-4px,
.s-gap-x-4px {
  row-gap: 4px; }

.gap-x-8px,
.s-gap-x-8px {
  row-gap: 8px; }

.gap-x-12px,
.s-gap-x-12px {
  row-gap: 12px; }

.gap-x-16px,
.s-gap-x-16px {
  row-gap: 16px; }

.gap-x-20px,
.s-gap-x-20px {
  row-gap: 20px; }

.gap-x-24px,
.s-gap-x-24px {
  row-gap: 24px; }

.gap-x-28px,
.s-gap-x-28px {
  row-gap: 28px; }

.gap-x-32px,
.s-gap-x-32px {
  row-gap: 32px; }

.gap-x-36px,
.s-gap-x-36px {
  row-gap: 36px; }

.gap-x-40px,
.s-gap-x-40px {
  row-gap: 40px; }

.gap-x-48px,
.s-gap-x-48px {
  row-gap: 48px; }

.gap-x-64px,
.s-gap-x-64px {
  row-gap: 64px; }

.gap-x-80px,
.s-gap-x-80px {
  row-gap: 80px; }

.gap-x-96px,
.s-gap-x-96px {
  row-gap: 96px; }

.gap-x-112px,
.s-gap-x-112px {
  row-gap: 112px; }

.gap-x-128px,
.s-gap-x-128px {
  row-gap: 128px; }

.gap-x-256px,
.s-gap-x-256px {
  row-gap: 256px; }

.gap-x-initial,
.s-gap-x-initial {
  row-gap: initial; }

.gap-y-0,
.s-gap-y-0 {
  column-gap: 0; }

.gap-y-2px,
.s-gap-y-2px {
  column-gap: 2px; }

.gap-y-4px,
.s-gap-y-4px {
  column-gap: 4px; }

.gap-y-8px,
.s-gap-y-8px {
  column-gap: 8px; }

.gap-y-12px,
.s-gap-y-12px {
  column-gap: 12px; }

.gap-y-16px,
.s-gap-y-16px {
  column-gap: 16px; }

.gap-y-20px,
.s-gap-y-20px {
  column-gap: 20px; }

.gap-y-24px,
.s-gap-y-24px {
  column-gap: 24px; }

.gap-y-28px,
.s-gap-y-28px {
  column-gap: 28px; }

.gap-y-32px,
.s-gap-y-32px {
  column-gap: 32px; }

.gap-y-36px,
.s-gap-y-36px {
  column-gap: 36px; }

.gap-y-40px,
.s-gap-y-40px {
  column-gap: 40px; }

.gap-y-48px,
.s-gap-y-48px {
  column-gap: 48px; }

.gap-y-64px,
.s-gap-y-64px {
  column-gap: 64px; }

.gap-y-80px,
.s-gap-y-80px {
  column-gap: 80px; }

.gap-y-96px,
.s-gap-y-96px {
  column-gap: 96px; }

.gap-y-112px,
.s-gap-y-112px {
  column-gap: 112px; }

.gap-y-128px,
.s-gap-y-128px {
  column-gap: 128px; }

.gap-y-256px,
.s-gap-y-256px {
  column-gap: 256px; }

.gap-y-initial,
.s-gap-y-initial {
  column-gap: initial; }

.gap-0,
.s-gap-0 {
  gap: 0; }

.gap-2px,
.s-gap-2px {
  gap: 2px; }

.gap-4px,
.s-gap-4px {
  gap: 4px; }

.gap-8px,
.s-gap-8px {
  gap: 8px; }

.gap-12px,
.s-gap-12px {
  gap: 12px; }

.gap-16px,
.s-gap-16px {
  gap: 16px; }

.gap-20px,
.s-gap-20px {
  gap: 20px; }

.gap-24px,
.s-gap-24px {
  gap: 24px; }

.gap-28px,
.s-gap-28px {
  gap: 28px; }

.gap-32px,
.s-gap-32px {
  gap: 32px; }

.gap-36px,
.s-gap-36px {
  gap: 36px; }

.gap-40px,
.s-gap-40px {
  gap: 40px; }

.gap-48px,
.s-gap-48px {
  gap: 48px; }

.gap-64px,
.s-gap-64px {
  gap: 64px; }

.gap-80px,
.s-gap-80px {
  gap: 80px; }

.gap-96px,
.s-gap-96px {
  gap: 96px; }

.gap-112px,
.s-gap-112px {
  gap: 112px; }

.gap-128px,
.s-gap-128px {
  gap: 128px; }

.gap-256px,
.s-gap-256px {
  gap: 256px; }

.gap-initial,
.s-gap-initial {
  gap: initial; }

@media screen and (min-width: 640px) {
  .m-gap-x-0 {
    row-gap: 0; }
  .m-gap-x-2px {
    row-gap: 2px; }
  .m-gap-x-4px {
    row-gap: 4px; }
  .m-gap-x-8px {
    row-gap: 8px; }
  .m-gap-x-12px {
    row-gap: 12px; }
  .m-gap-x-16px {
    row-gap: 16px; }
  .m-gap-x-20px {
    row-gap: 20px; }
  .m-gap-x-24px {
    row-gap: 24px; }
  .m-gap-x-28px {
    row-gap: 28px; }
  .m-gap-x-32px {
    row-gap: 32px; }
  .m-gap-x-36px {
    row-gap: 36px; }
  .m-gap-x-40px {
    row-gap: 40px; }
  .m-gap-x-48px {
    row-gap: 48px; }
  .m-gap-x-64px {
    row-gap: 64px; }
  .m-gap-x-80px {
    row-gap: 80px; }
  .m-gap-x-96px {
    row-gap: 96px; }
  .m-gap-x-112px {
    row-gap: 112px; }
  .m-gap-x-128px {
    row-gap: 128px; }
  .m-gap-x-256px {
    row-gap: 256px; }
  .m-gap-x-initial {
    row-gap: initial; }
  .m-gap-y-0 {
    column-gap: 0; }
  .m-gap-y-2px {
    column-gap: 2px; }
  .m-gap-y-4px {
    column-gap: 4px; }
  .m-gap-y-8px {
    column-gap: 8px; }
  .m-gap-y-12px {
    column-gap: 12px; }
  .m-gap-y-16px {
    column-gap: 16px; }
  .m-gap-y-20px {
    column-gap: 20px; }
  .m-gap-y-24px {
    column-gap: 24px; }
  .m-gap-y-28px {
    column-gap: 28px; }
  .m-gap-y-32px {
    column-gap: 32px; }
  .m-gap-y-36px {
    column-gap: 36px; }
  .m-gap-y-40px {
    column-gap: 40px; }
  .m-gap-y-48px {
    column-gap: 48px; }
  .m-gap-y-64px {
    column-gap: 64px; }
  .m-gap-y-80px {
    column-gap: 80px; }
  .m-gap-y-96px {
    column-gap: 96px; }
  .m-gap-y-112px {
    column-gap: 112px; }
  .m-gap-y-128px {
    column-gap: 128px; }
  .m-gap-y-256px {
    column-gap: 256px; }
  .m-gap-y-initial {
    column-gap: initial; }
  .m-gap-0 {
    gap: 0; }
  .m-gap-2px {
    gap: 2px; }
  .m-gap-4px {
    gap: 4px; }
  .m-gap-8px {
    gap: 8px; }
  .m-gap-12px {
    gap: 12px; }
  .m-gap-16px {
    gap: 16px; }
  .m-gap-20px {
    gap: 20px; }
  .m-gap-24px {
    gap: 24px; }
  .m-gap-28px {
    gap: 28px; }
  .m-gap-32px {
    gap: 32px; }
  .m-gap-36px {
    gap: 36px; }
  .m-gap-40px {
    gap: 40px; }
  .m-gap-48px {
    gap: 48px; }
  .m-gap-64px {
    gap: 64px; }
  .m-gap-80px {
    gap: 80px; }
  .m-gap-96px {
    gap: 96px; }
  .m-gap-112px {
    gap: 112px; }
  .m-gap-128px {
    gap: 128px; }
  .m-gap-256px {
    gap: 256px; }
  .m-gap-initial {
    gap: initial; } }

@media screen and (min-width: 768px) {
  .md-gap-x-0 {
    row-gap: 0; }
  .md-gap-x-2px {
    row-gap: 2px; }
  .md-gap-x-4px {
    row-gap: 4px; }
  .md-gap-x-8px {
    row-gap: 8px; }
  .md-gap-x-12px {
    row-gap: 12px; }
  .md-gap-x-16px {
    row-gap: 16px; }
  .md-gap-x-20px {
    row-gap: 20px; }
  .md-gap-x-24px {
    row-gap: 24px; }
  .md-gap-x-28px {
    row-gap: 28px; }
  .md-gap-x-32px {
    row-gap: 32px; }
  .md-gap-x-36px {
    row-gap: 36px; }
  .md-gap-x-40px {
    row-gap: 40px; }
  .md-gap-x-48px {
    row-gap: 48px; }
  .md-gap-x-64px {
    row-gap: 64px; }
  .md-gap-x-80px {
    row-gap: 80px; }
  .md-gap-x-96px {
    row-gap: 96px; }
  .md-gap-x-112px {
    row-gap: 112px; }
  .md-gap-x-128px {
    row-gap: 128px; }
  .md-gap-x-256px {
    row-gap: 256px; }
  .md-gap-x-initial {
    row-gap: initial; }
  .md-gap-y-0 {
    column-gap: 0; }
  .md-gap-y-2px {
    column-gap: 2px; }
  .md-gap-y-4px {
    column-gap: 4px; }
  .md-gap-y-8px {
    column-gap: 8px; }
  .md-gap-y-12px {
    column-gap: 12px; }
  .md-gap-y-16px {
    column-gap: 16px; }
  .md-gap-y-20px {
    column-gap: 20px; }
  .md-gap-y-24px {
    column-gap: 24px; }
  .md-gap-y-28px {
    column-gap: 28px; }
  .md-gap-y-32px {
    column-gap: 32px; }
  .md-gap-y-36px {
    column-gap: 36px; }
  .md-gap-y-40px {
    column-gap: 40px; }
  .md-gap-y-48px {
    column-gap: 48px; }
  .md-gap-y-64px {
    column-gap: 64px; }
  .md-gap-y-80px {
    column-gap: 80px; }
  .md-gap-y-96px {
    column-gap: 96px; }
  .md-gap-y-112px {
    column-gap: 112px; }
  .md-gap-y-128px {
    column-gap: 128px; }
  .md-gap-y-256px {
    column-gap: 256px; }
  .md-gap-y-initial {
    column-gap: initial; }
  .md-gap-0 {
    gap: 0; }
  .md-gap-2px {
    gap: 2px; }
  .md-gap-4px {
    gap: 4px; }
  .md-gap-8px {
    gap: 8px; }
  .md-gap-12px {
    gap: 12px; }
  .md-gap-16px {
    gap: 16px; }
  .md-gap-20px {
    gap: 20px; }
  .md-gap-24px {
    gap: 24px; }
  .md-gap-28px {
    gap: 28px; }
  .md-gap-32px {
    gap: 32px; }
  .md-gap-36px {
    gap: 36px; }
  .md-gap-40px {
    gap: 40px; }
  .md-gap-48px {
    gap: 48px; }
  .md-gap-64px {
    gap: 64px; }
  .md-gap-80px {
    gap: 80px; }
  .md-gap-96px {
    gap: 96px; }
  .md-gap-112px {
    gap: 112px; }
  .md-gap-128px {
    gap: 128px; }
  .md-gap-256px {
    gap: 256px; }
  .md-gap-initial {
    gap: initial; } }

@media screen and (min-width: 1024px) {
  .lg-gap-x-0 {
    row-gap: 0; }
  .lg-gap-x-2px {
    row-gap: 2px; }
  .lg-gap-x-4px {
    row-gap: 4px; }
  .lg-gap-x-8px {
    row-gap: 8px; }
  .lg-gap-x-12px {
    row-gap: 12px; }
  .lg-gap-x-16px {
    row-gap: 16px; }
  .lg-gap-x-20px {
    row-gap: 20px; }
  .lg-gap-x-24px {
    row-gap: 24px; }
  .lg-gap-x-28px {
    row-gap: 28px; }
  .lg-gap-x-32px {
    row-gap: 32px; }
  .lg-gap-x-36px {
    row-gap: 36px; }
  .lg-gap-x-40px {
    row-gap: 40px; }
  .lg-gap-x-48px {
    row-gap: 48px; }
  .lg-gap-x-64px {
    row-gap: 64px; }
  .lg-gap-x-80px {
    row-gap: 80px; }
  .lg-gap-x-96px {
    row-gap: 96px; }
  .lg-gap-x-112px {
    row-gap: 112px; }
  .lg-gap-x-128px {
    row-gap: 128px; }
  .lg-gap-x-256px {
    row-gap: 256px; }
  .lg-gap-x-initial {
    row-gap: initial; }
  .lg-gap-y-0 {
    column-gap: 0; }
  .lg-gap-y-2px {
    column-gap: 2px; }
  .lg-gap-y-4px {
    column-gap: 4px; }
  .lg-gap-y-8px {
    column-gap: 8px; }
  .lg-gap-y-12px {
    column-gap: 12px; }
  .lg-gap-y-16px {
    column-gap: 16px; }
  .lg-gap-y-20px {
    column-gap: 20px; }
  .lg-gap-y-24px {
    column-gap: 24px; }
  .lg-gap-y-28px {
    column-gap: 28px; }
  .lg-gap-y-32px {
    column-gap: 32px; }
  .lg-gap-y-36px {
    column-gap: 36px; }
  .lg-gap-y-40px {
    column-gap: 40px; }
  .lg-gap-y-48px {
    column-gap: 48px; }
  .lg-gap-y-64px {
    column-gap: 64px; }
  .lg-gap-y-80px {
    column-gap: 80px; }
  .lg-gap-y-96px {
    column-gap: 96px; }
  .lg-gap-y-112px {
    column-gap: 112px; }
  .lg-gap-y-128px {
    column-gap: 128px; }
  .lg-gap-y-256px {
    column-gap: 256px; }
  .lg-gap-y-initial {
    column-gap: initial; }
  .lg-gap-0 {
    gap: 0; }
  .lg-gap-2px {
    gap: 2px; }
  .lg-gap-4px {
    gap: 4px; }
  .lg-gap-8px {
    gap: 8px; }
  .lg-gap-12px {
    gap: 12px; }
  .lg-gap-16px {
    gap: 16px; }
  .lg-gap-20px {
    gap: 20px; }
  .lg-gap-24px {
    gap: 24px; }
  .lg-gap-28px {
    gap: 28px; }
  .lg-gap-32px {
    gap: 32px; }
  .lg-gap-36px {
    gap: 36px; }
  .lg-gap-40px {
    gap: 40px; }
  .lg-gap-48px {
    gap: 48px; }
  .lg-gap-64px {
    gap: 64px; }
  .lg-gap-80px {
    gap: 80px; }
  .lg-gap-96px {
    gap: 96px; }
  .lg-gap-112px {
    gap: 112px; }
  .lg-gap-128px {
    gap: 128px; }
  .lg-gap-256px {
    gap: 256px; }
  .lg-gap-initial {
    gap: initial; } }

@media screen and (min-width: 1280px) {
  .xl-gap-x-0 {
    row-gap: 0; }
  .xl-gap-x-2px {
    row-gap: 2px; }
  .xl-gap-x-4px {
    row-gap: 4px; }
  .xl-gap-x-8px {
    row-gap: 8px; }
  .xl-gap-x-12px {
    row-gap: 12px; }
  .xl-gap-x-16px {
    row-gap: 16px; }
  .xl-gap-x-20px {
    row-gap: 20px; }
  .xl-gap-x-24px {
    row-gap: 24px; }
  .xl-gap-x-28px {
    row-gap: 28px; }
  .xl-gap-x-32px {
    row-gap: 32px; }
  .xl-gap-x-36px {
    row-gap: 36px; }
  .xl-gap-x-40px {
    row-gap: 40px; }
  .xl-gap-x-48px {
    row-gap: 48px; }
  .xl-gap-x-64px {
    row-gap: 64px; }
  .xl-gap-x-80px {
    row-gap: 80px; }
  .xl-gap-x-96px {
    row-gap: 96px; }
  .xl-gap-x-112px {
    row-gap: 112px; }
  .xl-gap-x-128px {
    row-gap: 128px; }
  .xl-gap-x-256px {
    row-gap: 256px; }
  .xl-gap-x-initial {
    row-gap: initial; }
  .xl-gap-y-0 {
    column-gap: 0; }
  .xl-gap-y-2px {
    column-gap: 2px; }
  .xl-gap-y-4px {
    column-gap: 4px; }
  .xl-gap-y-8px {
    column-gap: 8px; }
  .xl-gap-y-12px {
    column-gap: 12px; }
  .xl-gap-y-16px {
    column-gap: 16px; }
  .xl-gap-y-20px {
    column-gap: 20px; }
  .xl-gap-y-24px {
    column-gap: 24px; }
  .xl-gap-y-28px {
    column-gap: 28px; }
  .xl-gap-y-32px {
    column-gap: 32px; }
  .xl-gap-y-36px {
    column-gap: 36px; }
  .xl-gap-y-40px {
    column-gap: 40px; }
  .xl-gap-y-48px {
    column-gap: 48px; }
  .xl-gap-y-64px {
    column-gap: 64px; }
  .xl-gap-y-80px {
    column-gap: 80px; }
  .xl-gap-y-96px {
    column-gap: 96px; }
  .xl-gap-y-112px {
    column-gap: 112px; }
  .xl-gap-y-128px {
    column-gap: 128px; }
  .xl-gap-y-256px {
    column-gap: 256px; }
  .xl-gap-y-initial {
    column-gap: initial; }
  .xl-gap-0 {
    gap: 0; }
  .xl-gap-2px {
    gap: 2px; }
  .xl-gap-4px {
    gap: 4px; }
  .xl-gap-8px {
    gap: 8px; }
  .xl-gap-12px {
    gap: 12px; }
  .xl-gap-16px {
    gap: 16px; }
  .xl-gap-20px {
    gap: 20px; }
  .xl-gap-24px {
    gap: 24px; }
  .xl-gap-28px {
    gap: 28px; }
  .xl-gap-32px {
    gap: 32px; }
  .xl-gap-36px {
    gap: 36px; }
  .xl-gap-40px {
    gap: 40px; }
  .xl-gap-48px {
    gap: 48px; }
  .xl-gap-64px {
    gap: 64px; }
  .xl-gap-80px {
    gap: 80px; }
  .xl-gap-96px {
    gap: 96px; }
  .xl-gap-112px {
    gap: 112px; }
  .xl-gap-128px {
    gap: 128px; }
  .xl-gap-256px {
    gap: 256px; }
  .xl-gap-initial {
    gap: initial; } }

@media screen and (min-width: 1600px) {
  .xxl-gap-x-0 {
    row-gap: 0; }
  .xxl-gap-x-2px {
    row-gap: 2px; }
  .xxl-gap-x-4px {
    row-gap: 4px; }
  .xxl-gap-x-8px {
    row-gap: 8px; }
  .xxl-gap-x-12px {
    row-gap: 12px; }
  .xxl-gap-x-16px {
    row-gap: 16px; }
  .xxl-gap-x-20px {
    row-gap: 20px; }
  .xxl-gap-x-24px {
    row-gap: 24px; }
  .xxl-gap-x-28px {
    row-gap: 28px; }
  .xxl-gap-x-32px {
    row-gap: 32px; }
  .xxl-gap-x-36px {
    row-gap: 36px; }
  .xxl-gap-x-40px {
    row-gap: 40px; }
  .xxl-gap-x-48px {
    row-gap: 48px; }
  .xxl-gap-x-64px {
    row-gap: 64px; }
  .xxl-gap-x-80px {
    row-gap: 80px; }
  .xxl-gap-x-96px {
    row-gap: 96px; }
  .xxl-gap-x-112px {
    row-gap: 112px; }
  .xxl-gap-x-128px {
    row-gap: 128px; }
  .xxl-gap-x-256px {
    row-gap: 256px; }
  .xxl-gap-x-initial {
    row-gap: initial; }
  .xxl-gap-y-0 {
    column-gap: 0; }
  .xxl-gap-y-2px {
    column-gap: 2px; }
  .xxl-gap-y-4px {
    column-gap: 4px; }
  .xxl-gap-y-8px {
    column-gap: 8px; }
  .xxl-gap-y-12px {
    column-gap: 12px; }
  .xxl-gap-y-16px {
    column-gap: 16px; }
  .xxl-gap-y-20px {
    column-gap: 20px; }
  .xxl-gap-y-24px {
    column-gap: 24px; }
  .xxl-gap-y-28px {
    column-gap: 28px; }
  .xxl-gap-y-32px {
    column-gap: 32px; }
  .xxl-gap-y-36px {
    column-gap: 36px; }
  .xxl-gap-y-40px {
    column-gap: 40px; }
  .xxl-gap-y-48px {
    column-gap: 48px; }
  .xxl-gap-y-64px {
    column-gap: 64px; }
  .xxl-gap-y-80px {
    column-gap: 80px; }
  .xxl-gap-y-96px {
    column-gap: 96px; }
  .xxl-gap-y-112px {
    column-gap: 112px; }
  .xxl-gap-y-128px {
    column-gap: 128px; }
  .xxl-gap-y-256px {
    column-gap: 256px; }
  .xxl-gap-y-initial {
    column-gap: initial; }
  .xxl-gap-0 {
    gap: 0; }
  .xxl-gap-2px {
    gap: 2px; }
  .xxl-gap-4px {
    gap: 4px; }
  .xxl-gap-8px {
    gap: 8px; }
  .xxl-gap-12px {
    gap: 12px; }
  .xxl-gap-16px {
    gap: 16px; }
  .xxl-gap-20px {
    gap: 20px; }
  .xxl-gap-24px {
    gap: 24px; }
  .xxl-gap-28px {
    gap: 28px; }
  .xxl-gap-32px {
    gap: 32px; }
  .xxl-gap-36px {
    gap: 36px; }
  .xxl-gap-40px {
    gap: 40px; }
  .xxl-gap-48px {
    gap: 48px; }
  .xxl-gap-64px {
    gap: 64px; }
  .xxl-gap-80px {
    gap: 80px; }
  .xxl-gap-96px {
    gap: 96px; }
  .xxl-gap-112px {
    gap: 112px; }
  .xxl-gap-128px {
    gap: 128px; }
  .xxl-gap-256px {
    gap: 256px; }
  .xxl-gap-initial {
    gap: initial; } }

.ed-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - (1rem * 2));
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 1200px; }
  @media screen and (min-width: 1200px) {
    .ed-grid {
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }
  .ed-grid .ed-grid, .ed-grid.full {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0; }

.grid-1,
.s-grid-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)); }

.grid-2,
.s-grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)); }

.grid-3,
.s-grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)); }

.grid-4,
.s-grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)); }

.grid-5,
.s-grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-6,
.s-grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)); }

.grid-7,
.s-grid-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.grid-8,
.s-grid-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr)); }

.grid-9,
.s-grid-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr)); }

.grid-10,
.s-grid-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr)); }

.grid-11,
.s-grid-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr)); }

.grid-12,
.s-grid-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr)); }

@media screen and (min-width: 640px) {
  .m-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .m-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .m-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .m-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .m-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .m-grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .m-grid-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .m-grid-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .m-grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .m-grid-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .m-grid-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .m-grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

@media screen and (min-width: 768px) {
  .md-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .md-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .md-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .md-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .md-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .md-grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .md-grid-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .md-grid-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .md-grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .md-grid-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .md-grid-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .md-grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

@media screen and (min-width: 1024px) {
  .lg-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .lg-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .lg-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .lg-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .lg-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .lg-grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .lg-grid-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .lg-grid-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .lg-grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .lg-grid-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .lg-grid-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .lg-grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

@media screen and (min-width: 1280px) {
  .xl-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .xl-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .xl-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .xl-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .xl-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .xl-grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .xl-grid-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .xl-grid-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .xl-grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .xl-grid-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .xl-grid-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .xl-grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

@media screen and (min-width: 1600px) {
  .xxl-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .xxl-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .xxl-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .xxl-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .xxl-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .xxl-grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .xxl-grid-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .xxl-grid-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .xxl-grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .xxl-grid-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .xxl-grid-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .xxl-grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

.cols-1,
.s-cols-1 {
  grid-column-end: span 1; }

.cols-2,
.s-cols-2 {
  grid-column-end: span 2; }

.cols-3,
.s-cols-3 {
  grid-column-end: span 3; }

.cols-4,
.s-cols-4 {
  grid-column-end: span 4; }

.cols-5,
.s-cols-5 {
  grid-column-end: span 5; }

.cols-6,
.s-cols-6 {
  grid-column-end: span 6; }

.cols-7,
.s-cols-7 {
  grid-column-end: span 7; }

.cols-8,
.s-cols-8 {
  grid-column-end: span 8; }

.cols-9,
.s-cols-9 {
  grid-column-end: span 9; }

.cols-10,
.s-cols-10 {
  grid-column-end: span 10; }

.cols-11,
.s-cols-11 {
  grid-column-end: span 11; }

.cols-12,
.s-cols-12 {
  grid-column-end: span 12; }

.cols-full,
.s-cols-full {
  grid-column: 1 / -1; }

.cols-auto,
.s-cols-auto {
  grid-column: auto; }

@media screen and (min-width: 640px) {
  .m-cols-1 {
    grid-column-end: span 1; }
  .m-cols-2 {
    grid-column-end: span 2; }
  .m-cols-3 {
    grid-column-end: span 3; }
  .m-cols-4 {
    grid-column-end: span 4; }
  .m-cols-5 {
    grid-column-end: span 5; }
  .m-cols-6 {
    grid-column-end: span 6; }
  .m-cols-7 {
    grid-column-end: span 7; }
  .m-cols-8 {
    grid-column-end: span 8; }
  .m-cols-9 {
    grid-column-end: span 9; }
  .m-cols-10 {
    grid-column-end: span 10; }
  .m-cols-11 {
    grid-column-end: span 11; }
  .m-cols-12 {
    grid-column-end: span 12; }
  .m-cols-full {
    grid-column: 1 / -1; }
  .m-cols-auto {
    grid-column: auto; } }

@media screen and (min-width: 768px) {
  .md-cols-1 {
    grid-column-end: span 1; }
  .md-cols-2 {
    grid-column-end: span 2; }
  .md-cols-3 {
    grid-column-end: span 3; }
  .md-cols-4 {
    grid-column-end: span 4; }
  .md-cols-5 {
    grid-column-end: span 5; }
  .md-cols-6 {
    grid-column-end: span 6; }
  .md-cols-7 {
    grid-column-end: span 7; }
  .md-cols-8 {
    grid-column-end: span 8; }
  .md-cols-9 {
    grid-column-end: span 9; }
  .md-cols-10 {
    grid-column-end: span 10; }
  .md-cols-11 {
    grid-column-end: span 11; }
  .md-cols-12 {
    grid-column-end: span 12; }
  .md-cols-full {
    grid-column: 1 / -1; }
  .md-cols-auto {
    grid-column: auto; } }

@media screen and (min-width: 1024px) {
  .lg-cols-1 {
    grid-column-end: span 1; }
  .lg-cols-2 {
    grid-column-end: span 2; }
  .lg-cols-3 {
    grid-column-end: span 3; }
  .lg-cols-4 {
    grid-column-end: span 4; }
  .lg-cols-5 {
    grid-column-end: span 5; }
  .lg-cols-6 {
    grid-column-end: span 6; }
  .lg-cols-7 {
    grid-column-end: span 7; }
  .lg-cols-8 {
    grid-column-end: span 8; }
  .lg-cols-9 {
    grid-column-end: span 9; }
  .lg-cols-10 {
    grid-column-end: span 10; }
  .lg-cols-11 {
    grid-column-end: span 11; }
  .lg-cols-12 {
    grid-column-end: span 12; }
  .lg-cols-full {
    grid-column: 1 / -1; }
  .lg-cols-auto {
    grid-column: auto; } }

@media screen and (min-width: 1280px) {
  .xl-cols-1 {
    grid-column-end: span 1; }
  .xl-cols-2 {
    grid-column-end: span 2; }
  .xl-cols-3 {
    grid-column-end: span 3; }
  .xl-cols-4 {
    grid-column-end: span 4; }
  .xl-cols-5 {
    grid-column-end: span 5; }
  .xl-cols-6 {
    grid-column-end: span 6; }
  .xl-cols-7 {
    grid-column-end: span 7; }
  .xl-cols-8 {
    grid-column-end: span 8; }
  .xl-cols-9 {
    grid-column-end: span 9; }
  .xl-cols-10 {
    grid-column-end: span 10; }
  .xl-cols-11 {
    grid-column-end: span 11; }
  .xl-cols-12 {
    grid-column-end: span 12; }
  .xl-cols-full {
    grid-column: 1 / -1; }
  .xl-cols-auto {
    grid-column: auto; } }

@media screen and (min-width: 1600px) {
  .xxl-cols-1 {
    grid-column-end: span 1; }
  .xxl-cols-2 {
    grid-column-end: span 2; }
  .xxl-cols-3 {
    grid-column-end: span 3; }
  .xxl-cols-4 {
    grid-column-end: span 4; }
  .xxl-cols-5 {
    grid-column-end: span 5; }
  .xxl-cols-6 {
    grid-column-end: span 6; }
  .xxl-cols-7 {
    grid-column-end: span 7; }
  .xxl-cols-8 {
    grid-column-end: span 8; }
  .xxl-cols-9 {
    grid-column-end: span 9; }
  .xxl-cols-10 {
    grid-column-end: span 10; }
  .xxl-cols-11 {
    grid-column-end: span 11; }
  .xxl-cols-12 {
    grid-column-end: span 12; }
  .xxl-cols-full {
    grid-column: 1 / -1; }
  .xxl-cols-auto {
    grid-column: auto; } }

.rows-1,
.s-rows-1 {
  grid-row-end: span 1; }

.rows-2,
.s-rows-2 {
  grid-row-end: span 2; }

.rows-3,
.s-rows-3 {
  grid-row-end: span 3; }

.rows-4,
.s-rows-4 {
  grid-row-end: span 4; }

.rows-5,
.s-rows-5 {
  grid-row-end: span 5; }

.rows-6,
.s-rows-6 {
  grid-row-end: span 6; }

.rows-7,
.s-rows-7 {
  grid-row-end: span 7; }

.rows-8,
.s-rows-8 {
  grid-row-end: span 8; }

.rows-9,
.s-rows-9 {
  grid-row-end: span 9; }

.rows-10,
.s-rows-10 {
  grid-row-end: span 10; }

.rows-11,
.s-rows-11 {
  grid-row-end: span 11; }

.rows-12,
.s-rows-12 {
  grid-row-end: span 12; }

.rows-full,
.s-rows-full {
  grid-row: 1 / -1; }

.rows-auto,
.s-rows-auto {
  grid-row: auto; }

@media screen and (min-width: 640px) {
  .m-rows-1 {
    grid-row-end: span 1; }
  .m-rows-2 {
    grid-row-end: span 2; }
  .m-rows-3 {
    grid-row-end: span 3; }
  .m-rows-4 {
    grid-row-end: span 4; }
  .m-rows-5 {
    grid-row-end: span 5; }
  .m-rows-6 {
    grid-row-end: span 6; }
  .m-rows-7 {
    grid-row-end: span 7; }
  .m-rows-8 {
    grid-row-end: span 8; }
  .m-rows-9 {
    grid-row-end: span 9; }
  .m-rows-10 {
    grid-row-end: span 10; }
  .m-rows-11 {
    grid-row-end: span 11; }
  .m-rows-12 {
    grid-row-end: span 12; }
  .m-rows-full {
    grid-row: 1 / -1; }
  .m-rows-auto {
    grid-row: auto; } }

@media screen and (min-width: 768px) {
  .md-rows-1 {
    grid-row-end: span 1; }
  .md-rows-2 {
    grid-row-end: span 2; }
  .md-rows-3 {
    grid-row-end: span 3; }
  .md-rows-4 {
    grid-row-end: span 4; }
  .md-rows-5 {
    grid-row-end: span 5; }
  .md-rows-6 {
    grid-row-end: span 6; }
  .md-rows-7 {
    grid-row-end: span 7; }
  .md-rows-8 {
    grid-row-end: span 8; }
  .md-rows-9 {
    grid-row-end: span 9; }
  .md-rows-10 {
    grid-row-end: span 10; }
  .md-rows-11 {
    grid-row-end: span 11; }
  .md-rows-12 {
    grid-row-end: span 12; }
  .md-rows-full {
    grid-row: 1 / -1; }
  .md-rows-auto {
    grid-row: auto; } }

@media screen and (min-width: 1024px) {
  .lg-rows-1 {
    grid-row-end: span 1; }
  .lg-rows-2 {
    grid-row-end: span 2; }
  .lg-rows-3 {
    grid-row-end: span 3; }
  .lg-rows-4 {
    grid-row-end: span 4; }
  .lg-rows-5 {
    grid-row-end: span 5; }
  .lg-rows-6 {
    grid-row-end: span 6; }
  .lg-rows-7 {
    grid-row-end: span 7; }
  .lg-rows-8 {
    grid-row-end: span 8; }
  .lg-rows-9 {
    grid-row-end: span 9; }
  .lg-rows-10 {
    grid-row-end: span 10; }
  .lg-rows-11 {
    grid-row-end: span 11; }
  .lg-rows-12 {
    grid-row-end: span 12; }
  .lg-rows-full {
    grid-row: 1 / -1; }
  .lg-rows-auto {
    grid-row: auto; } }

@media screen and (min-width: 1280px) {
  .xl-rows-1 {
    grid-row-end: span 1; }
  .xl-rows-2 {
    grid-row-end: span 2; }
  .xl-rows-3 {
    grid-row-end: span 3; }
  .xl-rows-4 {
    grid-row-end: span 4; }
  .xl-rows-5 {
    grid-row-end: span 5; }
  .xl-rows-6 {
    grid-row-end: span 6; }
  .xl-rows-7 {
    grid-row-end: span 7; }
  .xl-rows-8 {
    grid-row-end: span 8; }
  .xl-rows-9 {
    grid-row-end: span 9; }
  .xl-rows-10 {
    grid-row-end: span 10; }
  .xl-rows-11 {
    grid-row-end: span 11; }
  .xl-rows-12 {
    grid-row-end: span 12; }
  .xl-rows-full {
    grid-row: 1 / -1; }
  .xl-rows-auto {
    grid-row: auto; } }

@media screen and (min-width: 1600px) {
  .xxl-rows-1 {
    grid-row-end: span 1; }
  .xxl-rows-2 {
    grid-row-end: span 2; }
  .xxl-rows-3 {
    grid-row-end: span 3; }
  .xxl-rows-4 {
    grid-row-end: span 4; }
  .xxl-rows-5 {
    grid-row-end: span 5; }
  .xxl-rows-6 {
    grid-row-end: span 6; }
  .xxl-rows-7 {
    grid-row-end: span 7; }
  .xxl-rows-8 {
    grid-row-end: span 8; }
  .xxl-rows-9 {
    grid-row-end: span 9; }
  .xxl-rows-10 {
    grid-row-end: span 10; }
  .xxl-rows-11 {
    grid-row-end: span 11; }
  .xxl-rows-12 {
    grid-row-end: span 12; }
  .xxl-rows-full {
    grid-row: 1 / -1; }
  .xxl-rows-auto {
    grid-row: auto; } }

.x-1,
.s-x-1 {
  grid-column-start: 1; }

.x-2,
.s-x-2 {
  grid-column-start: 2; }

.x-3,
.s-x-3 {
  grid-column-start: 3; }

.x-4,
.s-x-4 {
  grid-column-start: 4; }

.x-5,
.s-x-5 {
  grid-column-start: 5; }

.x-6,
.s-x-6 {
  grid-column-start: 6; }

.x-7,
.s-x-7 {
  grid-column-start: 7; }

.x-8,
.s-x-8 {
  grid-column-start: 8; }

.x-9,
.s-x-9 {
  grid-column-start: 9; }

.x-10,
.s-x-10 {
  grid-column-start: 10; }

.x-11,
.s-x-11 {
  grid-column-start: 11; }

.x-12,
.s-x-12 {
  grid-column-start: 12; }

.y-1,
.s-y-1 {
  grid-row-start: 1; }

.y-2,
.s-y-2 {
  grid-row-start: 2; }

.y-3,
.s-y-3 {
  grid-row-start: 3; }

.y-4,
.s-y-4 {
  grid-row-start: 4; }

.y-5,
.s-y-5 {
  grid-row-start: 5; }

.y-6,
.s-y-6 {
  grid-row-start: 6; }

.y-7,
.s-y-7 {
  grid-row-start: 7; }

.y-8,
.s-y-8 {
  grid-row-start: 8; }

.y-9,
.s-y-9 {
  grid-row-start: 9; }

.y-10,
.s-y-10 {
  grid-row-start: 10; }

.y-11,
.s-y-11 {
  grid-row-start: 11; }

.y-12,
.s-y-12 {
  grid-row-start: 12; }

@media screen and (min-width: 640px) {
  .m-x-1 {
    grid-column-start: 1; }
  .m-x-2 {
    grid-column-start: 2; }
  .m-x-3 {
    grid-column-start: 3; }
  .m-x-4 {
    grid-column-start: 4; }
  .m-x-5 {
    grid-column-start: 5; }
  .m-x-6 {
    grid-column-start: 6; }
  .m-x-7 {
    grid-column-start: 7; }
  .m-x-8 {
    grid-column-start: 8; }
  .m-x-9 {
    grid-column-start: 9; }
  .m-x-10 {
    grid-column-start: 10; }
  .m-x-11 {
    grid-column-start: 11; }
  .m-x-12 {
    grid-column-start: 12; }
  .m-y-1 {
    grid-row-start: 1; }
  .m-y-2 {
    grid-row-start: 2; }
  .m-y-3 {
    grid-row-start: 3; }
  .m-y-4 {
    grid-row-start: 4; }
  .m-y-5 {
    grid-row-start: 5; }
  .m-y-6 {
    grid-row-start: 6; }
  .m-y-7 {
    grid-row-start: 7; }
  .m-y-8 {
    grid-row-start: 8; }
  .m-y-9 {
    grid-row-start: 9; }
  .m-y-10 {
    grid-row-start: 10; }
  .m-y-11 {
    grid-row-start: 11; }
  .m-y-12 {
    grid-row-start: 12; } }

@media screen and (min-width: 768px) {
  .md-x-1 {
    grid-column-start: 1; }
  .md-x-2 {
    grid-column-start: 2; }
  .md-x-3 {
    grid-column-start: 3; }
  .md-x-4 {
    grid-column-start: 4; }
  .md-x-5 {
    grid-column-start: 5; }
  .md-x-6 {
    grid-column-start: 6; }
  .md-x-7 {
    grid-column-start: 7; }
  .md-x-8 {
    grid-column-start: 8; }
  .md-x-9 {
    grid-column-start: 9; }
  .md-x-10 {
    grid-column-start: 10; }
  .md-x-11 {
    grid-column-start: 11; }
  .md-x-12 {
    grid-column-start: 12; }
  .md-y-1 {
    grid-row-start: 1; }
  .md-y-2 {
    grid-row-start: 2; }
  .md-y-3 {
    grid-row-start: 3; }
  .md-y-4 {
    grid-row-start: 4; }
  .md-y-5 {
    grid-row-start: 5; }
  .md-y-6 {
    grid-row-start: 6; }
  .md-y-7 {
    grid-row-start: 7; }
  .md-y-8 {
    grid-row-start: 8; }
  .md-y-9 {
    grid-row-start: 9; }
  .md-y-10 {
    grid-row-start: 10; }
  .md-y-11 {
    grid-row-start: 11; }
  .md-y-12 {
    grid-row-start: 12; } }

@media screen and (min-width: 1024px) {
  .lg-x-1 {
    grid-column-start: 1; }
  .lg-x-2 {
    grid-column-start: 2; }
  .lg-x-3 {
    grid-column-start: 3; }
  .lg-x-4 {
    grid-column-start: 4; }
  .lg-x-5 {
    grid-column-start: 5; }
  .lg-x-6 {
    grid-column-start: 6; }
  .lg-x-7 {
    grid-column-start: 7; }
  .lg-x-8 {
    grid-column-start: 8; }
  .lg-x-9 {
    grid-column-start: 9; }
  .lg-x-10 {
    grid-column-start: 10; }
  .lg-x-11 {
    grid-column-start: 11; }
  .lg-x-12 {
    grid-column-start: 12; }
  .lg-y-1 {
    grid-row-start: 1; }
  .lg-y-2 {
    grid-row-start: 2; }
  .lg-y-3 {
    grid-row-start: 3; }
  .lg-y-4 {
    grid-row-start: 4; }
  .lg-y-5 {
    grid-row-start: 5; }
  .lg-y-6 {
    grid-row-start: 6; }
  .lg-y-7 {
    grid-row-start: 7; }
  .lg-y-8 {
    grid-row-start: 8; }
  .lg-y-9 {
    grid-row-start: 9; }
  .lg-y-10 {
    grid-row-start: 10; }
  .lg-y-11 {
    grid-row-start: 11; }
  .lg-y-12 {
    grid-row-start: 12; } }

@media screen and (min-width: 1280px) {
  .xl-x-1 {
    grid-column-start: 1; }
  .xl-x-2 {
    grid-column-start: 2; }
  .xl-x-3 {
    grid-column-start: 3; }
  .xl-x-4 {
    grid-column-start: 4; }
  .xl-x-5 {
    grid-column-start: 5; }
  .xl-x-6 {
    grid-column-start: 6; }
  .xl-x-7 {
    grid-column-start: 7; }
  .xl-x-8 {
    grid-column-start: 8; }
  .xl-x-9 {
    grid-column-start: 9; }
  .xl-x-10 {
    grid-column-start: 10; }
  .xl-x-11 {
    grid-column-start: 11; }
  .xl-x-12 {
    grid-column-start: 12; }
  .xl-y-1 {
    grid-row-start: 1; }
  .xl-y-2 {
    grid-row-start: 2; }
  .xl-y-3 {
    grid-row-start: 3; }
  .xl-y-4 {
    grid-row-start: 4; }
  .xl-y-5 {
    grid-row-start: 5; }
  .xl-y-6 {
    grid-row-start: 6; }
  .xl-y-7 {
    grid-row-start: 7; }
  .xl-y-8 {
    grid-row-start: 8; }
  .xl-y-9 {
    grid-row-start: 9; }
  .xl-y-10 {
    grid-row-start: 10; }
  .xl-y-11 {
    grid-row-start: 11; }
  .xl-y-12 {
    grid-row-start: 12; } }

@media screen and (min-width: 1600px) {
  .xxl-x-1 {
    grid-column-start: 1; }
  .xxl-x-2 {
    grid-column-start: 2; }
  .xxl-x-3 {
    grid-column-start: 3; }
  .xxl-x-4 {
    grid-column-start: 4; }
  .xxl-x-5 {
    grid-column-start: 5; }
  .xxl-x-6 {
    grid-column-start: 6; }
  .xxl-x-7 {
    grid-column-start: 7; }
  .xxl-x-8 {
    grid-column-start: 8; }
  .xxl-x-9 {
    grid-column-start: 9; }
  .xxl-x-10 {
    grid-column-start: 10; }
  .xxl-x-11 {
    grid-column-start: 11; }
  .xxl-x-12 {
    grid-column-start: 12; }
  .xxl-y-1 {
    grid-row-start: 1; }
  .xxl-y-2 {
    grid-row-start: 2; }
  .xxl-y-3 {
    grid-row-start: 3; }
  .xxl-y-4 {
    grid-row-start: 4; }
  .xxl-y-5 {
    grid-row-start: 5; }
  .xxl-y-6 {
    grid-row-start: 6; }
  .xxl-y-7 {
    grid-row-start: 7; }
  .xxl-y-8 {
    grid-row-start: 8; }
  .xxl-y-9 {
    grid-row-start: 9; }
  .xxl-y-10 {
    grid-row-start: 10; }
  .xxl-y-11 {
    grid-row-start: 11; }
  .xxl-y-12 {
    grid-row-start: 12; } }

.order-1,
.s-order-1 {
  order: 1; }

.order-2,
.s-order-2 {
  order: 2; }

.order-3,
.s-order-3 {
  order: 3; }

.order-4,
.s-order-4 {
  order: 4; }

.order-5,
.s-order-5 {
  order: 5; }

.order-6,
.s-order-6 {
  order: 6; }

.order-7,
.s-order-7 {
  order: 7; }

.order-8,
.s-order-8 {
  order: 8; }

.order-9,
.s-order-9 {
  order: 9; }

.order-10,
.s-order-10 {
  order: 10; }

.order-11,
.s-order-11 {
  order: 11; }

.order-12,
.s-order-12 {
  order: 12; }

.order-0,
.s-order-0 {
  order: 0; }

.order-first,
.s-order-first {
  order: -999; }

.order-last,
.s-order-last {
  order: 999; }

.order-initial,
.s-order-initial {
  order: initial; }

@media screen and (min-width: 640px) {
  .m-order-1 {
    order: 1; }
  .m-order-2 {
    order: 2; }
  .m-order-3 {
    order: 3; }
  .m-order-4 {
    order: 4; }
  .m-order-5 {
    order: 5; }
  .m-order-6 {
    order: 6; }
  .m-order-7 {
    order: 7; }
  .m-order-8 {
    order: 8; }
  .m-order-9 {
    order: 9; }
  .m-order-10 {
    order: 10; }
  .m-order-11 {
    order: 11; }
  .m-order-12 {
    order: 12; }
  .m-order-0 {
    order: 0; }
  .m-order-first {
    order: -999; }
  .m-order-last {
    order: 999; }
  .m-order-initial {
    order: initial; } }

@media screen and (min-width: 768px) {
  .md-order-1 {
    order: 1; }
  .md-order-2 {
    order: 2; }
  .md-order-3 {
    order: 3; }
  .md-order-4 {
    order: 4; }
  .md-order-5 {
    order: 5; }
  .md-order-6 {
    order: 6; }
  .md-order-7 {
    order: 7; }
  .md-order-8 {
    order: 8; }
  .md-order-9 {
    order: 9; }
  .md-order-10 {
    order: 10; }
  .md-order-11 {
    order: 11; }
  .md-order-12 {
    order: 12; }
  .md-order-0 {
    order: 0; }
  .md-order-first {
    order: -999; }
  .md-order-last {
    order: 999; }
  .md-order-initial {
    order: initial; } }

@media screen and (min-width: 1024px) {
  .lg-order-1 {
    order: 1; }
  .lg-order-2 {
    order: 2; }
  .lg-order-3 {
    order: 3; }
  .lg-order-4 {
    order: 4; }
  .lg-order-5 {
    order: 5; }
  .lg-order-6 {
    order: 6; }
  .lg-order-7 {
    order: 7; }
  .lg-order-8 {
    order: 8; }
  .lg-order-9 {
    order: 9; }
  .lg-order-10 {
    order: 10; }
  .lg-order-11 {
    order: 11; }
  .lg-order-12 {
    order: 12; }
  .lg-order-0 {
    order: 0; }
  .lg-order-first {
    order: -999; }
  .lg-order-last {
    order: 999; }
  .lg-order-initial {
    order: initial; } }

@media screen and (min-width: 1280px) {
  .xl-order-1 {
    order: 1; }
  .xl-order-2 {
    order: 2; }
  .xl-order-3 {
    order: 3; }
  .xl-order-4 {
    order: 4; }
  .xl-order-5 {
    order: 5; }
  .xl-order-6 {
    order: 6; }
  .xl-order-7 {
    order: 7; }
  .xl-order-8 {
    order: 8; }
  .xl-order-9 {
    order: 9; }
  .xl-order-10 {
    order: 10; }
  .xl-order-11 {
    order: 11; }
  .xl-order-12 {
    order: 12; }
  .xl-order-0 {
    order: 0; }
  .xl-order-first {
    order: -999; }
  .xl-order-last {
    order: 999; }
  .xl-order-initial {
    order: initial; } }

@media screen and (min-width: 1600px) {
  .xxl-order-1 {
    order: 1; }
  .xxl-order-2 {
    order: 2; }
  .xxl-order-3 {
    order: 3; }
  .xxl-order-4 {
    order: 4; }
  .xxl-order-5 {
    order: 5; }
  .xxl-order-6 {
    order: 6; }
  .xxl-order-7 {
    order: 7; }
  .xxl-order-8 {
    order: 8; }
  .xxl-order-9 {
    order: 9; }
  .xxl-order-10 {
    order: 10; }
  .xxl-order-11 {
    order: 11; }
  .xxl-order-12 {
    order: 12; }
  .xxl-order-0 {
    order: 0; }
  .xxl-order-first {
    order: -999; }
  .xxl-order-last {
    order: 999; }
  .xxl-order-initial {
    order: initial; } }
