// *
// * Create variants from a map.
// * This function is used inside create-class()
// * @param  {map}  $properties-map - Properties and class to set variants
// * @param  {map}  $variants - Variants to create styles. For default use $spacing map.
// *
// * EXAMPLE
// * $gap  : (
// *   gap-x: row-gap,
// *   gap-vertical: column-gap,
// *   gap: gap,
// * );
// *
// * @include create-class(variants($gap));
// *

@function variants($properties-map, $variants : $spacing) {
  // Var to stock maps created in @each
  $variants-map : ();
  @each $classes, $style in $properties-map {
    @each $variant in $variants {
      $variant-class : ();
      @each $class in $classes {
        // Add variant to class in $variant-class list separate with comma
        // Example: margin-left => margin-left-4px, margin-left-8px, margin-left-12px...
        $variant-class : append($variant-class, $class - $variant, comma);
      }
      // Merge map class and add styles from variant
      // Example: (gap-x-16px : (row-gap: 16px))
      $variants-map : map-merge($variants-map, ($variant-class : ($style : $variant)));
    }
  }
  @return $variants-map;
}
