$legacy-breakpoints : (
  s   : 0,
  m   : 640px,
  lg  : 1024px,
  xl  : 1400px,
);

$legacy-sizes : map-keys($legacy-breakpoints);

$legacy-spacing : (
  '05'   : 4px,
  '1'    : 8px,
  '2'    : 16px,
  '3'    : 24px,
  '4'    : 32px,
);
